:root {
  --cinzaclaro:#BFBFBF;
  --cinzaescuro:#585759;
  --azulescuro:#0487D9;
  --azulclaro:#05AFF2;
  --marrom:#A67665;
}

.App{
 display: flex;
 flex-flow: row wrap;
 justify-content: center;
 background-color: var(--cinzaclaro);
}

.topbar {
  background-color: var(--cinzaclaro);
  min-height: 80px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.padrao {
  min-height: 80px;
  width: 100%;
}

.btnlogin {
  align-content: center;
}

.fichaClaim{
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  justify-content: space-around;
  align-items: center;
  width: 400px;
  cursor: pointer;
  background-color: var(--marrom);
  margin: 5px;
}

.fichaTable{
  flex-grow: 1;
}

.cabecalho {
  background-color: var(--cinzaescuro);
}

table {
  border: 0;
}

.logoCoin {
  width: 50px;
  height: 50px;
  margin: 10px;
}

.cabecalhoLogin {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--cinzaescuro);
}

.displayTimer {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--cinzaescuro);
}

.image-cropper {
  max-width: 100px;
  height: auto;
  position: relative;
  overflow: hidden;
}

.image-cropper img{
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%; 
  margin: 0 0 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;  
}